
/* define content */
div#showingWindow{
	height: 550px;
	width:1080px;
	margin:0px auto;
    font-size: 45px;
}

div#contentText{
	clear:both;
	float:left;
	width:220px;
	padding:170px 10px;
	text-align:center;
}

div#contentImage{
	height:450px;
	float:right;
	width:700px;
	padding:25px 10px;
}

/* define pcitures below */
div#itemList{
	clear:both;
	width:960px;
	height:200px;
	margin:0px auto;
}

.Picture{
	float:left;
    width:240px;
}

