@font-face {
    font-family: myfont;
    src: url(../fonts/default.otf);
    /*src: url(../fonts/option.ttf);*/
    font-weight: light;
}

a{
	text-decoration:none;
	color:white;
}


div {
  font-family: myfont;
}

html, body {
    position: relative;
    height: 100%;
}

.white_font{
  color: #FFF;
}

/* define menu */
div#menuBar{
	background-color:#37373C;
	width:100%;
	height:50px;
}


ul#menuItem li{
	float:left;
	width:17%;
	display:inline;
}

.TestCenter{
	padding:17px;
}


/* define pcitures below */
div#itemList{
	clear:both;
	width:960px;
	height:200px;
	margin:0px auto;
}

.Picture{
	float:left;
    width:240px;
}


/* define footer */
div#footer{
	margin:30px 0 0;
	background-color:#37373C;
	width:100%;
	height:200px;
}

.footerContent{
	margin:0 auto;
	width:1080px;
}

.block{
	float:left;
	width:25%;
	
}

.footerContent p{
	float:left
	font-size:14px;
	color:#999;
}

.socialicon{
	float:left;
	height:20px;
	margin:3px 10px;
}

p.footerTitle{
	color:white;
	maring:10px 0;
	font-size:18px;
}